a:focus {
    outline: none;
    text-shadow: 2px 2px 4px #000000;
}
a:hover {
    text-shadow: 2px 2px 4px #505050;
}
.top-right {
    text-align: right;
    margin: 20px;
}
input:focus {
    outline: none;
}
input[type=submit]:hover {
    text-shadow: 2px 2px 4px #505050;
}
input[type=text] {
    border: none;
    width: 400px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: lightgrey;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 18px;
}
input[type=text]:hover {
    border: 2px groove lightblue;
}
input[type=submit] {
    border: none;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 6px;
}
.search-logo {
    text-align: center;
    margin-top: 30px;
}