body {
    font-family: Arial, Helvetica, sans-serif;
}
a:focus {
    outline: none;
    text-shadow: 2px 2px 4px #000000;
}
a:hover {
    text-shadow: 2px 2px 4px #505050;
}
.top-right {
    text-align: right;
    margin-right: 20px;
    padding-right: 10px;
    padding-top: 10px;
}
.top-left {
    text-align: left;
    margin-left: 20px;
    padding-left: 10px;
    padding-top:10px;
}
.title-table {
    border-collapse: collapse;
    width: 100%;
    border-width: 0px;
    padding: 0px;
    margin: 0px;
}
input:focus {
    outline: none;
}
input[type=submit]:hover {
    text-shadow: 2px 2px 4px #505050;
}
.rounded-input {
    border: none;
    width: 400px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: lightgrey;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 18px;
}
.rounded-input:hover {
    border: 2px groove lightblue;
}
input[type=submit] {
    border: none;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 6px;
}
.search-logo {
    text-align: center;
    margin-top: 30px;
}
.img-bottom-right {
    height: 0px;
    position: relative;
    bottom: 30px;
    right: -102px;
    color: rgb(34, 113, 231);
}
.adv-t1 {
    padding-bottom: 10px;
    max-width: 200px;
}
.adv-t2-input {
    width: 100%;
    min-width: 360px;
    box-sizing: border-box;
}
.adv-t3 {
    padding-left: 10px;
    padding-bottom: 10px;
    max-width: 300px;
}
